<div id="content">
    <div class="line_home">
        <p class="home_tittle">Funcionamento da Aplicação</p>
        <img id="img_aplication" src="/img/IFCLOUD_02.png" alt="">
    </div>

    <div class="line_home line_home_p">
        <p class="home_tittle">API Routes</p>

        <div class="home_card">
            <p><b>1. Rota direta</b>:</p>
            <p>Nesta rota é possivel rodar "scripts python" que estejam no servidor diretamente.</p>
            <p><b>Rota = <%=API_URL%>/run_script/direct/:script_name</b></p>
            <p># - ":script_name" = passar o nome de um script que exista no servidor.</p>
        </div>

        <div class="home_card">
            <p><b>2. Rota utilizando parâmetros:</b></p>
            <p>Nesta rota é possivel rodar "scripts python" utilizando chaves em um json de configuração sem a necessidade de um ID do resource</p>
            <p><b>Rota = <%=process.env.API_URL%>/run_script/direct/params</b></p>
            <p># - ":scriptName" = passar o "nome do script" disponível em <strong>IFCLOUD</strong>.</p>
            <p># - ":params" = passar "uma string" de parâmetros para executar o script. Exemplo: "962.0 962.0 962.0 962.0 962.0 962.0 962.0 962.0 966.0 967.0 965.0 961.0 963.0 964.0 968.0 969.0 969.0 970.0 972.0 976.0 979.0"</p>
        </div>

        <div class="home_card">
            <p><b>3. Upload de arquivos:</b></p>
            <p>Na aba "Upload" é possivel fazer o upload de scripts Python, eles ficaram salvos
            na nuvem e poderam ser acessados a qualquer momento.
            </p>
            <p>Selecionar um script em python para fazer upload no servidor, somente arquivos ".py".</p>
        </div>

        <div class="home_card">
            <p><b>4. Rotas utilizando Operations:</b></p>
            <p>Nesta rota é possivel rodar scripts Python que estejam na nuvem, interagindo com 
                os Resources vindos do FASSECG, como Patient e Observation.
            </p>
            <p><b>Rota = <%=process.env.API_URL%>/run_script/operation</b></p>
            <p>Esta rota esta acessivel e pode ser usada atraves de requisições HTTP, enviando
                um JSON padrão, criado especialmente para esta aplicação.
            </p>
            <p>Este JSON permite setar algumas informações importantes para o funcionamento da engine.</p>
            <p>JSON padrão:</p>
            <img id="img_json_form" src="/img/JSON_FORM.png" alt="">
            <p><b>- resourceType:</b> do tipo "String", tipo de resource, pode ser Observation ou Patiente.</p>
            <p><b>- Resource Id:</b> do tipo "String", id do resource salvo na CloudECG.</p>
            <p><b>- scriptName:</b> do tipo "String", nome do script em Python desejado.</p>
            <p><b>- changeField:</b> do tipo "String", campo do componente selecionado que deve ser alterado.</p>
            <p><b>- returnOnlyFieldsComponent:</b> do tipo "Boolean", se deve ser retornado todos os campos
                do resource alterado ou somente do componente.
            </p>

            <p>Também é possivel utilizar o JSON padrão pela aba "Form", lá estara um formulário
                que desmonstrara a utilização do sistema.
            </p>
        </div>

    </div>
</div>