<div id="content">
    <div class="line_home">
        <p class="home_tittle">Funcionamento da Aplicação</p>
        <img id="img_aplication" src="/ifcloud/img/IFCLOUD_02.png" alt="">
    </div>

    <div class="line_home line_home_p">
        <p class="home_tittle">API Routes</p>

        <div class="home_card">
            <p><b>Para que serve?</b>:</p>
            <p>IF-Cloud auomatiza a execução de scripts Python que tem upload realizado por meio desta interface gráfica. IF-Cloud utiliza os dados dos recursos FHIR provenientes de alguma API de CRUD e retorna um outro recurso FHIR com os dados processados pelos scripts. IF-Cloud adiciona operações que são executadas esporadicamente no ecossistema de aplicações saúde digital.</p>
            <p>
                <b>Este deploy de IF-Cloud está vincula a API FHIR da URL:
                    <a href="<%=process.env.FHIR_API_URL%>" target="_blank"><%=process.env.FHIR_API_URL%></a>
                </b>
            </p>
        </div>

        <div class="home_card">
            <p><b>Upload de arquivos:</b></p>
            <p>
                Na aba "Upload" é possivel fazer o upload de scripts Python, eles ficaram salvos na nuvem e poderam ser acessados a qualquer momento.
            </p>
            <p>
                Selecionar um script em python para fazer upload no servidor, somente arquivos ".py".
            </p>
            <p>
                Antes do upload, todos os scripts Python vão precisar adicionar:
                <ol>
                    <li>importar <code>from helpers.file_utils import read_params_file, write_params_file</code></li>
                    <li>fazer a leitura do arquivo com os dados do ECG <code>params_file = sys.argv[1]</code></li>
                    <li>carregar a entrada de dados com <code>data = read_params_file(params_file)</code></li>
                    <li>o resultado do processamento deve ser um array com uma string de resultados, conforme o exemplo: <code>["953.0 951.0 949.0 948.0 950.0 950.0 951.0 948.0 946.0 944.0 947.0 947.0 947.0", "947.0 950.0 952.0 951.0 951.0 949.0 948.0 950.0 948.0"]</code></li>
                    <li>Ao final do script deve-se escrever os dados no arquivo que foi recebido na requisição desta forma: <code>write_params_file(params_file, results) </code></li>
                    <li>Após isso, basta utilizar o comando <code>print</code> para retornar o nome do arquivo desta maneira: <code>print(params_file)</code></li>
                </ol> 
                Veja exemplos de scripts Python com essas mudanças no diretório <code>uploads_src</code> do <a href="https://github.com/if4health/ifcloud" target="_blank">código-fonte de IF-Cloud</a>
            </p>
        </div>

        <div class="home_card">
            <p><b>Configurando IF-Cloud:</b></p>
            <p>No menu "Form" é possivel configurar IF-Cloud para rodar scripts Python que estejam na nuvem, interagindo com 
                os recursos FHIR vindos da API FHIR, como Patient e Observation.
            </p>
            <p><b>JSON de Configuração</b></p>
            <p>
                Preenchendo o formulário, IF-Cloud configura um JSON padrão criado especialmente para esta aplicação. Este JSON permite setar algumas informações importantes para o funcionamento da engine.
                O JSON também pode ser enviado diretamente - sem interface gráfica - via requisição POST para a rota /run_script/operation
            </p>
            <p>
                { <br>
                    &nbsp;&nbsp;resourceType: "Observation",<br> 
                    &nbsp;&nbsp;id: ":id_from_CRUD_API",<br> 
                    &nbsp;&nbsp;scriptName: ":script_name",<br>
                    &nbsp;&nbsp;returnOnlyFieldsComponents: true, <br>
                     &nbsp;&nbsp;components: [<br> 
                        &nbsp;&nbsp;&nbsp;&nbsp;{ index: "0",<br> 
                        &nbsp;&nbsp;&nbsp;&nbsp;changeField: "data" }<br> 
                        
                        &nbsp;&nbsp;]<br>
                }
            </p>

            <p><b>-resourceType:</b> tipo de Recurso FHIR que IF-Cloud deverá buscar na API de CRUD;</p>
            <p><b>-id:</b> identificador do Recurso FHIR que a aplicação deverá buscar na API de CRUD;</p>
            <b>-scriptName:</b> nome do script disponível no diretório Python SRC a ser executado.
            <p><b>-returnOnlyFieldsComponents:</b> se IF-Cloud irá retornar somente os campos alterados ou todo o Recurso FHIR para o solicitante.</p>
            <p><b>-components:</b> Configura quais as chaves do Recurso FHIR a serem buscadas e serem alteradas ou retornadas pelo script configurado em scriptName. Este pode ter n objetos de configuração, irá depender se o recurso FHIR contém as chaves e os índices.</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>-index:</b> índice da chave changeField a ser alterado no Recurso FHIR;</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>-changeField:</b> determina qual a chave do Recurso FHIR deverá ser alterada;</p>
        </div>

    </div>
</div>