# Fhir API
FHIR_API_URL=

# Server
PORT=

# PYTHON THAT WILL BE USED TO EXECUTE SCRIPTS
PYTHON_EXECUTABLE=

# URLs da UI
HOME_PAGE=home
UPLOAD_PAGE=file_upload
FORM_PAGE=json_form
ABOUT_PAGE=about

# Autenticação
GRANT_TYPE=
CLIENT_ID=
CLIENT_SECRET=